<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1017429531631-0i54faa5va9lcukbht5hk68ojl84sdog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017429531631-0i54faa5va9lcukbht5hk68ojl84sdog</string>
	<key>API_KEY</key>
	<string>AIzaSyDm4PMltokYqO744mrfBVeQujxXGU3A4Fs</string>
	<key>GCM_SENDER_ID</key>
	<string>1017429531631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flitterFirebaseTest</string>
	<key>PROJECT_ID</key>
	<string>test-f01ba</string>
	<key>STORAGE_BUCKET</key>
	<string>test-f01ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017429531631:ios:8fb8cbaf5874f7f8f2b41a</string>
</dict>
</plist>